<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Resto.Plugin.Hotel.Properties.Settings.RestoConnectionString"
            connectionString="Data Source=DESKTOP-3TVA44Q\RESTO;Initial Catalog=Resto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>